In [15]:
#kaggle project
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

In [16]:
df=pd.read_csv("train.csv")
df=df.dropna()

In [17]:
df.head()

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,Class
0,000ff2bfdfe9,0.209377,3109.03329,85.200147,22.394407,8.138688,0.699861,0.025578,9.812214,5.555634,...,7.298162,1.73855,0.094822,11.339138,72.611063,2003.810319,22.136229,69.834944,0.120343,1
1,007255e47698,0.145282,978.76416,85.200147,36.968889,8.138688,3.632190,0.025578,13.517790,1.229900,...,0.173229,0.49706,0.568932,9.292698,72.611063,27981.562750,29.135430,32.131996,21.978000,0
2,013f2bd269f5,0.470030,2635.10654,85.200147,32.360553,8.138688,6.732840,0.025578,12.824570,1.229900,...,7.709560,0.97556,1.198821,37.077772,88.609437,13676.957810,28.022851,35.192676,0.196941,0
3,043ac50845d5,0.252107,3819.65177,120.201618,77.112203,8.138688,3.685344,0.025578,11.053708,1.229900,...,6.122162,0.49706,0.284466,18.529584,82.416803,2094.262452,39.948656,90.493248,0.155829,0
4,044fb8a146ec,0.380297,3733.04844,85.200147,14.103738,8.138688,3.942255,0.054810,3.396778,102.151980,...,8.153058,48.50134,0.121914,16.408728,146.109943,8524.370502,45.381316,36.262628,0.096614,1

In [18]:
y=df['Class']

In [19]:
x=df.iloc[0:,:-1]

In [20]:
x=x.drop(['Id'],axis=1)

In [21]:
x

,AB,AF,AH,AM,AR,AX,AY,AZ,BC,BD,...,FI,FL,FR,FS,GB,GE,GF,GH,GI,GL
0,0.209377,3109.03329,85.200147,22.394407,8.138688,0.699861,0.025578,9.812214,5.555634,4126.58731,...,3.583450,7.298162,1.73855,0.094822,11.339138,72.611063,2003.810319,22.136229,69.834944,0.120343
1,0.145282,978.76416,85.200147,36.968889,8.138688,3.632190,0.025578,13.517790,1.229900,5496.92824,...,10.358927,0.173229,0.49706,0.568932,9.292698,72.611063,27981.562750,29.135430,32.131996,21.978000
2,0.470030,2635.10654,85.200147,32.360553,8.138688,6.732840,0.025578,12.824570,1.229900,5135.78024,...,11.626917,7.709560,0.97556,1.198821,37.077772,88.609437,13676.957810,28.022851,35.192676,0.196941
3,0.252107,3819.65177,120.201618,77.112203,8.138688,3.685344,0.025578,11.053708,1.229900,4169.67738,...,14.852022,6.122162,0.49706,0.284466,18.529584,82.416803,2094.262452,39.948656,90.493248,0.155829
4,0.380297,3733.04844,85.200147,14.103738,8.138688,3.942255,0.054810,3.396778,102.151980,5728.73412,...,13.666727,8.153058,48.50134,0.121914,16.408728,146.109943,8524.370502,45.381316,36.262628,0.096614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,0.175193,2607.26686,85.200147,7.067354,8.138688,4.030845,0.025578,3.396778,1.229900,6757.45461,...,9.256327,0.173229,1.89486,1.395238,16.911036,246.093155,10960.364830,38.380254,41.007968,21.978000
612,0.149555,3130.05946,123.763599,9.513984,13.020852,3.499305,0.077343,8.545512,2.804172,4157.68439,...,9.879296,0.173229,1.26092,0.067730,8.967128,217.148554,8095.932828,24.640462,69.191944,21.978000
613,0.435846,5462.03438,85.200147,46.551007,15.973224,5.979825,0.025882,12.622906,3.777550,5654.07556,...,10.910227,10.223150,1.24236,0.426699,35.896418,496.994214,3085.308063,29.648928,124.808872,0.145340
614,0.427300,2459.10720,130.138587,55.355778,10.005552,8.070549,0.025578,15.408390,1.229900,5888.87769,...,12.029366,0.173229,0.49706,0.067730,19.962092,128.896894,6474.652866,26.166072,119.559420,21.978000
616,0.482849,2672.53426,546.663930,112.006102,8.138688,3.198099,0.116928,3.396778,7.948668,2818.01707,...,7.745765,0.173229,1.14492,0.149006,13.673940,72.611063,6850.484442,45.745974,114.842372,21.978000

In [22]:
y

0      1
1      0
2      0
3      0
4      1
      ..
611    0
612    0
613    0
614    0
616    0
Name: Class, Length: 548, dtype: int64

In [23]:
df.describe()

,AB,AF,AH,AM,AR,AX,AY,AZ,BC,BD,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,Class
count,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,...,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000,548.000000
mean,0.462860,3502.844518,118.817523,37.971167,10.196422,5.379830,0.062971,10.828981,8.718112,5382.822970,...,4.604619,3.746416,0.423671,20.552888,132.944954,15973.953703,31.364689,52.767917,9.448235,0.186131
std,0.395050,2281.427013,134.529098,68.540076,10.898788,2.506650,0.442135,4.408974,69.114063,3165.156480,...,9.095599,53.199582,1.376450,10.072061,151.520840,20083.928101,9.879365,37.285570,10.476576,0.389568
min,0.085460,192.593280,85.200147,3.177522,8.138688,0.699861,0.025578,3.396778,1.229900,1693.624320,...,0.173229,0.497060,0.067730,4.874248,72.611063,13.038894,9.432735,0.897628,0.001129,0.000000
25%,0.246766,2198.933605,85.200147,12.030297,8.138688,4.066281,0.025578,8.532908,1.229900,4161.104110,...,0.173229,0.552957,0.067730,14.020440,72.611063,3247.748035,25.033958,23.279172,0.150069,0.000000
50%,0.341840,3090.383560,85.200147,20.135146,8.138688,4.947752,0.025578,10.681890,1.229900,4992.779215,...,2.151784,1.157970,0.250601,18.650510,72.611063,8762.168480,30.519642,43.785085,0.594000,0.000000
75%,0.552285,4367.771182,107.739039,37.083478,8.138688,6.183582,0.037910,13.185360,5.390476,6020.698707,...,6.050474,1.506550,0.523214,25.064239,125.135266,21747.642820,36.822086,70.791728,21.978000,0.000000
max,4.435374,28688.187660,1910.123198,630.518230,178.943634,38.270880,10.315851,38.971568,1463.693448,53060.599240,...,137.932739,1244.227020,31.365763,135.781294,1497.351958,143790.071200,81.210825,191.194764,21.978000,1.000000

In [24]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
x['EJ']=label_encoder.fit_transform(x['EJ'])

In [25]:
x.head()

,AB,AF,AH,AM,AR,AX,AY,AZ,BC,BD,...,FI,FL,FR,FS,GB,GE,GF,GH,GI,GL
0,0.209377,3109.03329,85.200147,22.394407,8.138688,0.699861,0.025578,9.812214,5.555634,4126.58731,...,3.583450,7.298162,1.73855,0.094822,11.339138,72.611063,2003.810319,22.136229,69.834944,0.120343
1,0.145282,978.76416,85.200147,36.968889,8.138688,3.632190,0.025578,13.517790,1.229900,5496.92824,...,10.358927,0.173229,0.49706,0.568932,9.292698,72.611063,27981.562750,29.135430,32.131996,21.978000
2,0.470030,2635.10654,85.200147,32.360553,8.138688,6.732840,0.025578,12.824570,1.229900,5135.78024,...,11.626917,7.709560,0.97556,1.198821,37.077772,88.609437,13676.957810,28.022851,35.192676,0.196941
3,0.252107,3819.65177,120.201618,77.112203,8.138688,3.685344,0.025578,11.053708,1.229900,4169.67738,...,14.852022,6.122162,0.49706,0.284466,18.529584,82.416803,2094.262452,39.948656,90.493248,0.155829
4,0.380297,3733.04844,85.200147,14.103738,8.138688,3.942255,0.054810,3.396778,102.151980,5728.73412,...,13.666727,8.153058,48.50134,0.121914,16.408728,146.109943,8524.370502,45.381316,36.262628,0.096614

In [26]:
X_train, X_test, y_train, y_test=train_test_split(x,y)

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [29]:
model=RandomForestClassifier()

In [30]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [31]:
model.predict_proba(X_test)

array([[0.77, 0.23],
       [0.74, 0.26],
       [0.95, 0.05],
       [0.87, 0.13],
       [0.99, 0.01],
       [0.74, 0.26],
       [0.21, 0.79],
       [0.96, 0.04],
       [0.76, 0.24],
       [0.6 , 0.4 ],
       [0.94, 0.06],
       [0.94, 0.06],
       [0.75, 0.25],
       [0.96, 0.04],
       [0.97, 0.03],
       [0.88, 0.12],
       [0.83, 0.17],
       [0.81, 0.19],
       [0.95, 0.05],
       [0.98, 0.02],
       [0.88, 0.12],
       [0.48, 0.52],
       [0.96, 0.04],
       [0.93, 0.07],
       [0.77, 0.23],
       [0.21, 0.79],
       [0.87, 0.13],
       [0.95, 0.05],
       [0.89, 0.11],
       [0.9 , 0.1 ],
       [0.94, 0.06],
       [0.92, 0.08],
       [1.  , 0.  ],
       [0.76, 0.24],
       [0.97, 0.03],
       [0.88, 0.12],
       [0.93, 0.07],
       [0.78, 0.22],
       [0.88, 0.12],
       [0.4 , 0.6 ],
       [0.95, 0.05],
       [0.94, 0.06],
       [0.88, 0.12],
       [0.89, 0.11],
       [0.92, 0.08],
       [0.82, 0.18],
       [0.85, 0.15],
       [0.85, 0.15],
       [0.97, 0.03],
       [0.4 , 0.6 ],
       [0.98, 0.02],
       [0.52, 0.48],
       [0.65, 0.35],
       [0.79, 0.21],
       [0.46, 0.54],
       [0.97, 0.03],
       [0.81, 0.19],
       [0.94, 0.06],
       [0.4 , 0.6 ],
       [0.2 , 0.8 ],
       [0.95, 0.05],
       [0.99, 0.01],
       [0.87, 0.13],
       [0.94, 0.06],
       [0.37, 0.63],
       [0.95, 0.05],
       [0.87, 0.13],
       [0.77, 0.23],
       [0.83, 0.17],
       [0.99, 0.01],
       [0.49, 0.51],
       [0.85, 0.15],
       [0.84, 0.16],
       [0.61, 0.39],
       [0.99, 0.01],
       [0.35, 0.65],
       [0.23, 0.77],
       [0.96, 0.04],
       [0.91, 0.09],
       [0.99, 0.01],
       [0.8 , 0.2 ],
       [0.94, 0.06],
       [0.29, 0.71],
       [0.77, 0.23],
       [0.97, 0.03],
       [0.93, 0.07],
       [0.97, 0.03],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.99, 0.01],
       [0.96, 0.04],
       [0.67, 0.33],
       [0.43, 0.57],
       [0.77, 0.23],
       [0.75, 0.25],
       [0.78, 0.22],
       [0.21, 0.79],
       [0.9 , 0.1 ],
       [0.98, 0.02],
       [0.96, 0.04],
       [0.95, 0.05],
       [0.9 , 0.1 ],
       [0.85, 0.15],
       [0.93, 0.07],
       [0.54, 0.46],
       [1.  , 0.  ],
       [0.94, 0.06],
       [0.61, 0.39],
       [0.98, 0.02],
       [0.96, 0.04],
       [0.51, 0.49],
       [0.83, 0.17],
       [0.92, 0.08],
       [0.6 , 0.4 ],
       [0.97, 0.03],
       [0.4 , 0.6 ],
       [0.95, 0.05],
       [0.86, 0.14],
       [0.74, 0.26],
       [0.96, 0.04],
       [1.  , 0.  ],
       [0.91, 0.09],
       [0.97, 0.03],
       [0.97, 0.03],
       [0.32, 0.68],
       [0.99, 0.01],
       [0.87, 0.13],
       [0.68, 0.32],
       [0.91, 0.09],
       [0.94, 0.06],
       [0.89, 0.11],
       [0.74, 0.26],
       [0.96, 0.04],
       [0.92, 0.08],
       [0.94, 0.06],
       [0.94, 0.06],
       [0.35, 0.65]])

In [18]:
#LR
model.score(X_test,y_test)

0.8832116788321168

In [32]:
#RF
model.score(X_test,y_test)

0.9343065693430657

In [33]:
test_df=pd.read_csv('test.csv')

In [34]:
test_df

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FI,FL,FR,FS,GB,GE,GF,GH,GI,GL
0,00eed32682bb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,010ebe33f668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,02fa521e1838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,040e15f562a2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,046e85c7cc7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
test_csv=test_df.iloc[0:,1:]

In [36]:
test_csv

,AB,AF,AH,AM,AR,AX,AY,AZ,BC,BD,...,FI,FL,FR,FS,GB,GE,GF,GH,GI,GL
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
test_csv['EJ']=label_encoder.fit_transform(test_csv['EJ'])

In [38]:
test_csv['EJ']

0    0
1    0
2    0
3    0
4    0
Name: EJ, dtype: int32

In [39]:
be=model.predict_proba(test_csv)

In [40]:
df_score=pd.DataFrame(be)

In [41]:
df_score.columns=['Class_0','Class_1']

In [42]:
df_score

   Class_0  Class_1
0     0.43     0.57
1     0.43     0.57
2     0.43     0.57
3     0.43     0.57
4     0.43     0.57

In [43]:
final_df=test_df['Id']
final_df=pd.DataFrame(final_df)
#
#

In [44]:
final_df.columns=['Id']

In [45]:
final_df

             Id
0  00eed32682bb
1  010ebe33f668
2  02fa521e1838
3  040e15f562a2
4  046e85c7cc7f

In [46]:
df_score

   Class_0  Class_1
0     0.43     0.57
1     0.43     0.57
2     0.43     0.57
3     0.43     0.57
4     0.43     0.57

In [47]:
dff=final_df.join(df_score)

In [48]:
dff.to_csv("final_submission.csv")